services:
  backend:
    build: ./backend
    ports:
      - "5050:5000"
    environment:
      - FLASK_ENV=development
    volumes:
      - ./backend:/app


  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    environment:
      - API_URL=http://localhost:5050/api
    volumes:
      - ./frontend:/app
    depends_on:
      - backend