services:
  backend:
    build: ./backend
    ports:
      - "5050:5000"
    environment:
      - FLASK_ENV=development
    volumes:
      - ./backend:/app


  frontend:
    build:
      context: ./frontend
      args:
        API_URL: http://localhost:5050/api
    ports:
      - "3000:80"
    volumes:
      - ./frontend:/app
    depends_on:
      - backend