@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.note-editor ul {
  list-style-type: disc;
  margin-left: 1.25rem;
  padding-left: 0;
}

.note-editor ol {
  list-style-type: decimal;
  margin-left: 1.25rem;
  padding-left: 0;
}

.note-editor li {
  margin: 0.15rem 0;
}
